{% extends 'base.html' %}

{% block title %} Soil Page {% endblock %}

{%block content %} 
    <p>This page contains graphs displaying the latest data recorded from the soil moisture sensors.</p>

    {% for key, value in graphJSON.items() %}
        <h1>Moisture monitor {{key}}</h1>  
        <div id="chart{{key}}" class="chart{key}"></div>
        
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script type='text/javascript'>
            var graphs = {{value | safe}};
            Plotly.plot('chart{{key}}', graphs, {});
        </script>
    {% endfor %}

{%endblock %}
