li.side-by-side{
    float: left;
    margin-left: 10px;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
    margin: 0;
}

nav {
    margin: auto;
    width: 50%;
    border: 3px solid green;
}

h1.centre {
    margin: auto;
    width: 50%;
}

div.charts {
    margin: auto;
    width: 90%;
}

/* Main page content style */

.content {
    margin: auto;
    width: 60%;

    padding-top: 30px;
}